@{
    ViewData["Title"] = "Boas vindas";
}

<div class="text-center">
    <h1 class="alinhamento">Boas vindas ao sistemas de</h1>
    <img class="alinhamento" width="600px" src="~/img/aves.jpg" alt="Imagem de aves">
    <h2 class="alinhamento">cadastro de Aves</h2>
</div>

