@{
    ViewData["Title"] = "Bem vindo";
}

<div class="text-center">
    <h1 class="alinhamento">Bem vindo</h1>
    <img class="alinhamento" width="600px" src="~/img/aves.jpg" alt="Imagem de aves">
    <h2 class="alinhamento">Cadastro de Aves</h2>
</div>

